rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /groups/{groupId} {
      allow read: if !resource.data.isPrivate || request.auth.uid == resource.data.ownerUid;
      allow create: if request.auth != null;
      // Allow owner to update/delete.
      // Allow users to join (update members) if public.
      allow update: if request.auth.uid == resource.data.ownerUid 
                   || (!resource.data.isPrivate && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['members']));
      allow delete: if request.auth.uid == resource.data.ownerUid;
    }

    match /groups/{groupId}/messages/{msgId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow delete: if false; // no deleting messages
    }
  }
}
